* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body setup */
body {
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: #fff;
    margin: 0;
}

/* Main layout */
main {
    padding-top: 60px;
    padding-bottom: 60px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Math\ bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Bordered box container */
.bordered-container {
    color: #fff;
    background-color: orange;
    border: 3px solid navy;
    border-radius: 8px;
    padding: 50px;
    width: 100%;
    max-width: 400px;
}

/* Heading */
.main-headers {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.secondary-headers{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* Box for form elements */
.boxes {
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Form groups */
.form-group {
    position: relative; /* Add this so the button positions inside this group */
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}

input {
    padding: 10px;
    border: 1px solid navy;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-8%); 
    cursor: pointer;
    font-size: 18px;
    color: navy;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

#birthMonth,
#birthDay {
    width: auto;
    margin-right: 10px;
    padding: 8px 10px;
    display: inline-block;
}

#birthYear {
    width: auto;
    padding: 8px 10px;
    display: inline-block;
}

/* Submit button */
button {
    padding: 10px 20px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #001f5c;
}

/* Login text below button */
.login-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.login-text a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}

.forgot-password {
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: left;    /* align to the left */
    font-size: 14px;
}

.forgot-password a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password a:hover {
    text-decoration: underline;
}


